<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OpenCV_3_x86_v100" version="3.0" targetFramework="native" />
  <package id="OpenCV_3_x86_v100.redist" version="3.0" targetFramework="native" />
  <package id="OpenCV_3_x86_v100.symbols" version="3.0" targetFramework="native" />
</packages>